[app-box] {
    display: flex;
    align-items: center;
}

[block-box] {
    width: 130px;
    display: flex;
    flex-wrap: wrap;
}

[string-box] {
    margin-left: 20px;
    height: 100%;
    textarea {
        padding: 6px;
        font-size: 16px;
        line-height: 27px;
    }
}
